<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://kit.fontawesome.com/8a20172e74.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="list" asp-controller="cars" class="nav-link">Samochody</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Wynajmy
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="index" asp-controller="rents">Aktywne</a>
                        <a class="dropdown-item" asp-action="Reservations" asp-controller="rents">Do wydania</a>
                        <a class="dropdown-item" asp-action="FinishedRents" asp-controller="rents">Zakończone</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="clients" class="nav-link">Klienci</a>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="servicefacilities" class="nav-link">Serwisy</a>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="services" class="nav-link">Naprawy i przeglądy</a>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="TyreShops" class="nav-link">Opony</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="reportsnav" data-toggle="dropdown">
                        Raporty
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="GeneralReport" asp-controller="reports">Ogólne</a>
                        <a class="dropdown-item" asp-action="DetailedReport" asp-controller="reports">Szczegółowe</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="utilitiesnav" data-toggle="dropdown">
                        Narzędzia
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="index" asp-controller="mailmessages">Szablony E-mail</a>
                    </div>
                </li>
            </ul>
            
            <ul class="navbar-nav ml-auto">
                @*@if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                        </li>
                    }*@
            </ul>
        </div>
    </nav>
    <div class="container">

        <div>
            @RenderBody()
        </div>
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", true)
        }
    </div>
</body>
</html>