<h1>Register Page</h1>

<form enctype="multipart/form-data" method="post" asp-action="Register" asp-controller="Accounts">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <button type="submit">Login</button>

</form>