<div>
    <a asp-controller="cars" asp-action="list">Lista samochodow</a>
    <a asp-controller="rents" asp-action="list">Lista wynajmow</a>
    <a asp-controller="clients" asp-action="list">Lista klientow</a>
</div>
