@model RentHandoverStartViewModel

    <form asp-action="handoverstart" asp-controller="rents" method="post" enctype="multipart/form-data">

        <input type="text" />

        <canvas width="1140" height="728" id="img" style="background-image :url('/diagram.png'); position: relative" ></canvas>
        @*<div style="width:1140px; height:728px; background-image :url('/diagram.png'); position:relative" id="img"></div>*@

        @*<p>
            <canvas width="1000" height="400" id="signature"
                    style="border:1px solid black"></canvas><br>
            <button type="button" id="accept"
                    class="btn btn-primary">
                Accept signature
            </button>
            <button type="submit" id="save"
                    class="btn btn-primary">
                Save
            </button><br>
            <img width="500" height="400" id="savetarget"
                 style="border:1px solid black"><br>
            <input asp-for="@Model.SignatureDataUrl">
        </p>*@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Heading</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        Modal body..
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script>
         
    $(document).ready(function ()
    {
        function getPosition(el) {
                var xPosition = 0;
                var yPosition = 0;
 
                 while (el) {
                    if (el.tagName == "img") {
                    // deal with browser quirks with body/window/document and page scroll
                var xScrollPos = el.scrollLeft || document.documentElement.scrollLeft;
                var yScrollPos = el.scrollTop || document.documentElement.scrollTop;

                xPosition += (el.offsetLeft - xScrollPos + el.clientLeft);
                yPosition += (el.offsetTop - yScrollPos + el.clientTop);
            } else {
                xPosition += (el.offsetLeft - el.scrollLeft + el.clientLeft);
                yPosition += (el.offsetTop - el.scrollTop + el.clientTop);
            }
 
            el = el.offsetParent;
            }
            return {
            x: xPosition,
            y: yPosition
            };
        }
        $('#img').click(function (e) {
            var btn = document.createElement("button");
            var btn2 = document.createElement("button");
            btn2.style.position = "absolute";
            btn2.style.height = '40px';
            btn2.style.width = '40px';
            btn2.type = "button";
            var div = document.getElementById("img");
            btn.style.position = "absolute";
            btn.style.height = '40px';
            btn.style.width = '40px';
            btn.type = "button";
            var rect = div.getBoundingClientRect();
            var x = (e.clientX - rect.left) / (rect.right - rect.left) * 1140;
            var y = (e.clientY - rect.top) / (rect.bottom - rect.top) * 728;
            console.log(this.offsetLeft, this.offsetTop);
            console.log(x, y);
            var xfinal = (x + this.offsetLeft - 20);
            var yfinal = (y + this.offsetTop - 20);

            var xfinal2 = (@Model.Xcoord + this.offsetLeft - 20);
            var yfinal2 = (@Model.Ycoord + this.offsetTop - 20);

            btn.style.left = xfinal + 'px';
            btn.style.top = yfinal + 'px';
            btn.style.borderRadius = '20px';

            btn2.style.left = xfinal2 + 'px';
            btn2.style.top = yfinal2 + 'px';
            btn2.style.borderRadius = '20px';
            btn2.classList.add("data-toggle");
            btn2.setAttribute("data-toggle", "modal");
            btn2.setAttribute("data-target", "#myModal");
            
            document.body.appendChild(btn);
            document.body.appendChild(btn2);
        });
    });

    </script>

    @*<script>
            $(function () {

                var canvas = document.querySelector('#signature');
                var pad = new SignaturePad(canvas);

                $('#accept').click(function () {

                    var data = pad.toDataURL();

                    $('#savetarget').attr('src', data);
                    $('#SignatureDataUrl').val(data);
                    pad.off();

                });

            });
        </script>*@

}