@model  TyreShopCreateViewModel

<div class="container">
    <h2>Dodaj serwis ogumienia</h2>
    <div class="row">
        <form enctype="multipart/form-data" asp-action="create" asp-controller="tyreshops" method="post">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" placeholder="Nazwa" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Street" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Street" class="form-control" placeholder="Adres" />
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ZipCode" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ZipCode" class="form-control" placeholder="Kod pocztowy" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="City" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="City" class="form-control" placeholder="Miasto" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PhoneNumber" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Nr telefonu" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="WeekHours" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="WeekHours" class="form-control" placeholder="Godziny otwarcia w tygodniu" />
                    <span asp-validation-for="WeekHours" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SaturdayHours" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SaturdayHours" class="form-control" placeholder="Godziny otwarcia w sobotę" />
                    <span asp-validation-for="SaturdayHours" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="SundayHours" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="SundayHours" class="form-control" placeholder="Godziny otwarcia w niedzielę" />
                    <span asp-validation-for="SundayHours" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group-row">
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </form>
    </div>
</div>
