@model RentPopulateModalViewModel
    
        <div class="modal-dialog" style="max-width:800px">
            <div id="target">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">@Model.DamageType</h4>  
                    </div>
                    <div class="modal-body">
                        <h3>Opis uszkodzeń: @Model.Description</h3>
                        <img src=@Model.Photo>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>